@font-face {
    font-family: Roboto;
    src: url("../assets/Font/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../assets/Font/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "Composants/function.scss";
@import "Composants/keyframes.scss";
@import "Composants/mixins.scss";
@import "Utils/variables.scss";

* {
    font-family: Roboto;
    margin: 0;
}
@import "Utils/lspinner";
@import "Pages/corps-desk";
@import "Layout/header-desk";
@import "Layout/form-desk";
@import "Layout/fonctionnement-titre-desk";
@import "Layout/fonctionnement-desk";
@import "Layout/restau-titre-desk";
@import "Layout/restau-desk";
@import "Layout/restau-coeur-desk";
@import "Layout/new-desk";
@import "Themes/footer-desk";
@include media-query(1024px) {
@import "Pages/corps-tab";
@import "Layout/header-tab";
@import "Layout/form-tab";
@import "Layout/fonctionnement-titre-tab";
@import "Layout/fonctionnement-tab";
@import "Layout/restau-titre-tab";
@import "Layout/restau-tab";
@import "Layout/restau-coeur-tab";
@import "layout/new-tab";
@import "Themes/footer-tab";
}
@include media-query(768px) {
@import "Pages/corps-port";
@import "Layout/header-port";
@import "Layout/form-port";
@import "Layout/fonctionnement-titre-port";
@import "Layout/fonctionnement-port";
@import "Layout/restau-titre-port";
@import "Layout/restau-port";
@import "Layout/restau-coeur-port";
@import "Layout/new-port";
@import "Themes/footer-port";
}
