@font-face {
    font-family: Roboto;
    src: url("../assets/Font/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../assets/Font/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@import "Composants/function.scss";
@import "Composants/keyframes.scss";
@import "Composants/mixins.scss";
@import "layout/layout.scss";
@import "pages/pages.scss";
@import "themes/themes.scss";
@import "Utils/variables.scss";
@import "vendors/vendors.scss";

* {
    font-family: Roboto;
    margin: 0;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loader 3s linear forwards;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &__spinner {
        font-size: 10px;
        margin: 50px auto;
        width: 11em;
        height: 11em;
        border-radius: 50%;
        background: linear-gradient(to right, $c-primaire 10%, rgba(147,86,220,0)42%) ;
        position: relative;
        animation: spinner $spinner-dur $spinner-delay infinite linear;
    }
    &__spinner::before {
        width: 50%;
        height: 50%;
        background: $c-primaire;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
    }
    &__spinner::after {
        background: #FFFFFF;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
#corps {
    animation: transition 400ms $transition-delay;
    animation-fill-mode: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 15%;
}
    h1 {
        height: 6vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    h1 img {
        width: 20vw;
        object-fit: contain;
    }
    form {
        background: $c-grey;
        width: 100%;
        margin-bottom: 50px;
    }
        fieldset {
            border: 0;
            padding: 0;
        }
            #search-block {
                background: $c-grey;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;
                }
                label {
                    position: absolute;
                }
                .icone {
                    position: relative;
                    top: 20px;
                    left: 10vw;
                    font-size: 1.1rem;
                }
                #search {
                    height: 50px;
                    width: 50%;
                    background: darken($color: $c-grey, $amount: 5);
                    text-align: center;
                    border-top: 3px solid rgba(161,161,161,0.3);
                    border-bottom: 0;
                    border-left: 0;
                    border-right: 0;
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                    order: 0;
                    font-size: 1.5rem;
                    margin-bottom: 2vw;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    &::placeholder {
                        text-align: center;
                        font-size: 1rem;
                        font-weight: bold;
                        opacity: 100%;
                        color: black;
                        padding-left: 30px;
                    }
                    }
            .reserve {
                width: 100%;
                margin-top: 15px;
                margin-bottom: 20px;
                order: 2;
            }
            .titre-reserve {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                color: black;
                margin-bottom: 20px;
                margin-left: 15%;
                margin-right: 15%;
            }
            .reserve-resume {
                font-size: 1.1rem;
                color: black;
                text-align: center;
                opacity: 70%;
                margin: 0 8%;
            }
            #bouton {
                background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
                border-radius: 68px;
                box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
                border-style: none;
                height: 50px;
                width: 215px;
                font-size: 1.1rem;
                color: white;
                margin-right: 20px;
                &:hover {
                    transition: 200ms ease-in-out;
                    background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
                    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.8);
                    filter: brightness(110%);

                }
            }
    #fonctionnement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        position: relative;
        & h2 {
            font-size: 1.5rem;
            font-weight: bold;
            width: 100vw;
            margin-left: 1vw;
        }
    }
        .choisir, .composer, .deguster {
            background-color: $c-grey;
            margin-top: 20px;
            border-radius: 25px;
            height: 80px;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:hover {
                background-color: lighten($color: $c-primaire, $amount: 35);
            }
            &:hover .icone2 {
                color: $c-primaire;
            }
        }
            .numero {
                background-color: $c-primaire;
                border-radius: 100%;
                border: 5px solid $c-primaire;
                font-size: 0.8rem;
                color: white;
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 20vw;
            }
            .icone2 {
                @include icone21-m;
                position: relative;
                right: 0.5vw;
                font-size: 1.5rem;
            }
            .descriptif {
                font-weight: bold;
                font-size: 1rem;
            }
    #restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        background-color: $c-grey;
        padding-bottom: 0;
        padding-top: 30px;
        margin-top: 50px;
        & h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 30px;
            margin-left: 1vw;
            width: 100%;
        }
    }
    .palette, .note, .francaise, .delice  {
        @include cadre-menu-m;
        height: 20vw;
        width: 350px;
        & img {
            @include img-menu-m;
            height: 15.3vw;
            width: 350px;
        }
        & h3 {
            @include titre-menu-m;
            bottom: 30px;
            left: 1vw;
        }
        & span {
            @include span-menu-m;
            bottom: 10px;
            left: 1vw;
        }
    }
        .coeur {
            color: black;
            position: absolute;
            top: 17vw;
            left: 310px;
            font-size: 1.2rem;
            z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                }
                &::before {
                    opacity: 0;
                }
            }
            &::after {
                content: "\f004";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: $c-primaire;
                filter: brightness(150%);
                opacity: 0;
                z-index: -1;
                transition: opacity 400ms;
                position: absolute;
                left: 0;
            }
        }
    .nouveau {
        @include new-m;
        bottom: 17vw;
        left: 260px;
    }
    #footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        background-color: darken($c-grey, 76.2%);
    }
        .img-footer {
            margin-bottom: 10px;
            margin-top: 5px;
            & img {
                height: 5vw;
                width: 200px;
                object-fit: contain;
                margin-left: 2vw;
            }
        }
        .proposer, .partenaire, .legale, .contact {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            padding-bottom: 10px;
            & i {
                position: fixed;
                left: 2vw;
                font-size: 1rem;
            }
            & span {
                margin-left: 5vw;
                font-size: 1rem;
            }
        }
        .legale, .contact {
            margin-left: 2vw;
        }
@include media-query(1024px) {
    #corps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        animation: transition 400ms $transition-delay;
        animation-fill-mode: both;
        margin: 0;
    }
        h1 {
            width: 100%;
            height: 3vw;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding-top: 15px;
        }
        h1 img {
            width: 25vw;
            object-fit: contain;
            padding-top: 3vw;
        }
        form {
            background: white;
            width: 55%;
            position: relative;
            bottom: 25px;
        }
            fieldset {
                border: 0;
                padding: 0;
                margin-top: 5px;
            }
                #search-block {
                    justify-content: space-around;
                    background: white;
                    font-size: 1.5rem;
                    padding-bottom: 20px;
                    bottom: 0;
                    }
                    label {
                        position: absolute;
                    }
                    .icone {
                        position: relative;
                        top: 0;
                        margin-top: 25px;
                        left: calc(100% - 85px);
                        font-size: 1.1rem;
                    }
                    #search {
                        height: 60px;
                        width: 100%;
                        background: darken($color: $c-grey, $amount: 5);
                        text-align: center;
                        border-top: 3px solid rgba(161,161,161,0.3);
                        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        order: 0;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        &::placeholder {
                            text-align: center;
                            font-size: 1rem;
                            font-weight: bold;
                            opacity: 100%;
                            color: black;
                            padding-left: 30px;
                        }
                        }
                .reserve {
                    width: auto;
                    margin-top: 50px;
                    margin-bottom: 0vw;
                }
                .titre-reserve {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: black;
                    margin-left: 15%;
                    margin-right: 15%;
                    margin-bottom: 30px;
                }
                .reserve-resume {
                    font-size: 1.1rem;
                    color: black;
                    text-align: center;
                    opacity: 70%;
                    margin: 0 8%;
                }
                #bouton {
                    margin-top: 10px;
                    margin-right: 0;
                    background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
                    border-radius: 68px;
                    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
                    border-style: none;
                    height: 50px;
                    width: 215px;
                    font-size: 1rem;
                    color: white;
                    &:hover {
                        transition: 200ms ease-in-out;
                        background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
                        box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.8);
                        filter: brightness(110%);
                    }
                }
        #fonctionnement {
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            margin-top: 7vw;
            position: relative;
            left: 4vw;
            bottom: 40px;
            & h2 {
                display: none;
                font-size: 2rem;
                font-weight: bold;
                }
            }
            .choisir, .composer, .deguster {
                background-color: $c-grey;
                border-radius: 25px;
                height: 85px;
                width: 90vw;
                margin-bottom: 5vw;
                position: relative;
                box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
                &:hover {
                    background-color: lighten($color: $c-primaire, $amount: 35);
                }
                &:hover .icone2 {
                    color: $c-primaire;
                }
            }
                .numero {
                    background-color: $c-primaire;
                    border-radius: 100%;
                    border: 5px solid $c-primaire;
                    font-size: 0.8rem;
                    color: white;
                    height: 25px;
                    width: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 37.5vw;
                }
                .icone2 {
                    @include icone21-m;
                    position: absolute;
                    left: 5vw;
                    font-size: 1.3rem;
                }
                .descriptif {
                    font-weight: bold;
                    font-size: 1rem;
                }
        #restaurants {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100vw;
            background-color: $c-grey;
            padding-bottom: 5vw;
            padding-top: 5vw;
            margin-top: -3vw;
            & h2 {
                font-size: 1.6rem;
                font-weight: bold;
                margin-bottom: 5vw;
                margin-left: 3vw;
                }
            }
            .palette, .note, .francaise, .delice  {
                @include cadre-menu-m;
                height: 300px;
                width: 350px;
                & img {
                    @include img-menu-m;
                    height: 215px;
                }
                & h3 {
                    @include titre-menu-m;
                    bottom: 45px;
                }
                & span {
                    @include span-menu-m;
                    bottom: 25px;
                }
            }
            .coeur {
                color: black;
                position: absolute;
                top: 235px;
                left: 32vw;
                font-size: 1.5rem;
                z-index: 1;
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                    &::before {
                        opacity: 0;
                    }
                }
                &::after {
                    content: "\f004";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: $c-primaire;
                    filter: brightness(150%);
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 400ms;
                    position: absolute;
                    left: 0;
                }
            }
        .nouveau {
            @include new-m;
            bottom: 260px;
            left: 26vw;
        }
        #footer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            width: 100vw;
            background-color: darken($c-grey, 76.2%);
            padding-top: 0;
        }
            .img-footer {
                margin-bottom: 2vw;
                & img {
                    height: 9vw;
                    width: 23vw;
                    object-fit: contain;
                    margin-left: 5vw;
                }
            }
            .proposer, .partenaire, .legale, .contact {
                text-decoration: none;
                color: white;
                font-size: 1rem;
                padding-bottom: 2vw;
                & i {
                    position: fixed;
                    left: 5vw;
                    font-size: 1rem;
                }
                & span {
                    margin-left: 11vw;
                    font-size: 1rem;
                }
            }
            .legale, .contact {
                margin-left: 5vw;
            }
    }
@include media-query(768px) {
    #corps {
        animation: transition 400ms $transition-delay;
        animation-fill-mode: both;
        margin: 0;
    }
        h1 {
            height: 13vw;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            margin: 0;
            padding-top: 0;
        }
        h1 img {
            height: 7vw;
            width: 40vw;
            object-fit: contain;
            padding-top: 3vw;
        }
        form {
            background: white;
            width: 100vw;
            position: initial;
        }
            fieldset {
                border: 0;
                padding: 0;
                margin-top: 5px;
            }
                #search-block {
                    background: $c-grey;
                    padding-bottom: 55px;
                    }
                    label {
                        position: absolute;
                    }
                    .icone {
                        font-size: 1.2rem;
                        position: relative;
                        margin-top: 18px;
                        top: 0;
                        left: calc(100% - 85px);
                    }
                    #search {
                        height: 50px;
                        width: 100%;
                        background: darken($color: $c-grey, $amount: 5);
                        text-align: center;
                        border-top: 3px solid rgba(161,161,161,0.3);
                        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        order: 0;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        &::placeholder {
                            text-align: center;
                            font-size: 1rem;
                            font-weight: bold;
                            opacity: 100%;
                            color: black;
                            padding-left: 30px;
                        }
                        }
                .reserve {
                    width: auto;
                    margin-top: 35px;
                    margin-bottom: 30px;
                    order: 1;
                }
                .titre-reserve {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: black;
                    text-align: center;
                    margin-left: 15%;
                    margin-right: 15%;
                    margin-bottom: 10px;
                }
                .reserve-resume {
                    font-size: 1.1rem;
                    color: black;
                    text-align: center;
                    opacity: 70%;
                    margin: 0 8%;
                }
                .cadre-bouton {
                    text-align: center;
                    order: 2;
                    width: 100vw;
                }
                #bouton {
                    background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
                    border-radius: 68px;
                    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
                    border-style: none;
                    height: 50px;
                    width: 215px;
                    font-size: 1rem;
                    color: white;
                    &:hover {
                        transition: 200ms ease-in-out;
                        background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
                        box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.8);
                        filter: brightness(110%);
                    }
                }
        #fonctionnement {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            width: 100vw;
            margin-top: 0px;
            position: initial;
            & h2 {
                display: block;
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 5vw;
                margin-bottom: 20px;
                }
            }
            .choisir, .composer, .deguster {
                background-color: $c-grey;
                border-radius: 25px;
                height: 75px;
                width: 90vw;
                margin-bottom: 5vw;
                position: relative;
                box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
                &:hover {
                    background-color: lighten($color: $c-primaire, $amount: 35);
                }
                &:hover .icone2 {
                    color: $c-primaire;
                }
            }
                .numero {
                    background-color: $c-primaire;
                    border-radius: 100%;
                    border: 5px solid $c-primaire;
                    font-size: 0.8rem;
                    color: white;
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    right: 86vw;
                }
                .icone2 {
                    @include icone21-m;
                    position: absolute;
                    left: 35px;
                    font-size: 1.2rem;
                }
                .descriptif {
                    font-weight: bold;
                    font-size: 1rem;
                }
        #restaurants {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            width: 100vw;
            background-color: $c-grey;
            padding-bottom: 50px;
            padding-top: 55px;
            margin-top: 55px;
            & h2 {
                font-size: 1.6rem;
                font-weight: bold;
                margin-bottom: 5vw;
                padding-left: 3vw;
                }
            }
            .palette, .note, .francaise, .delice  {
                @include cadre-menu-m;
                & img {
                    @include img-menu-m;
                }
                & h3 {
                    @include titre-menu-m;
                }
                & span {
                    @include span-menu-m;
                    font-size: 1.1rem;
                }
                & a {
                    text-decoration: none
                }
            }
                .coeur {
                    color: black;
                    position: absolute;
                    top: 190px;
                    left: 76vw;
                    font-size: 1.5rem;
                    z-index: 1;
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                        &::before {
                            opacity: 0;
                        }
                    }
                    &::after {
                        content: "\f004";
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        color: $c-primaire;
                        filter: brightness(150%);
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 400ms;
                        position: absolute;
                        left: 0;
                    }
                }
            .nouveau {
                @include new-m;
            }
        #footer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            width: 100vw;
            background-color: darken($c-grey, 76.2%);
            padding-top: 3vw;
        }
        .img-footer {
            margin-bottom: 2vw;
            & img {
                height: 9vw;
                width: 23vw;
                object-fit: contain;
                margin-left: 5vw;
            }
        }
            .proposer, .partenaire, .legale, .contact {
                text-decoration: none;
                color: white;
                font-size: 0.9rem;
                padding-bottom: 2vw;
                position: relative;
                & i {
                    position: absolute;
                    left: 5vw;
                    font-size: 1rem;
                }
                & span {
                    margin-left: 11vw;
                    font-size: 0.9rem;
                }
            }
            .legale, .contact {
                margin-left: 5vw;
            }
}
