#fonctionnement {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 7vw;
    position: relative;
    left: 4vw;
    bottom: 40px;
    & h2 {
        display: none;
        font-size: 2rem;
        font-weight: bold;
        }
    }