form {
    background: white;
    width: 100vw;
    position: initial;
}
fieldset {
    border: 0;
    padding: 0;
    margin-top: 5px;
}
    #search-block {
        background: $c-grey;
        padding-bottom: 55px;
        }
        label {
            position: absolute;
        }
        .icone {
            font-size: 1.2rem;
            position: relative;
            margin-top: 18px;
            top: 0;
            left: calc(100% - 85px);
        }
        #search {
            height: 50px;
            width: 100%;
            background: darken($color: $c-grey, $amount: 5);
            text-align: center;
            border-top: 2px solid rgba(161,161,161,0.3);
            order: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &::placeholder {
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
                opacity: 100%;
                color: black;
                padding-left: 30px;
            }
            }
    .reserve {
        width: auto;
        margin-top: 35px;
        margin-bottom: 30px;
        order: 1;
    }
    .titre-reserve {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10px;
    }
    .reserve-resume {
        font-size: 1.1rem;
        color: black;
        text-align: center;
        opacity: 70%;
        margin: 0 8%;
    }
    .cadre-bouton {
        text-align: center;
        order: 2;
        width: 100vw;
    }
    #bouton {
        background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
        border-radius: 68px;
        box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
        border-style: none;
        height: 50px;
        width: 215px;
        font-size: 1rem;
        color: white;
        &:hover {
            transition: 200ms ease-in-out;
            background: linear-gradient(172deg,$c-secondaire 1%, $c-primaire 100%);
            box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.8);
            filter: brightness(110%);
        }
    }