header {
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding-top: 0;
}
h1 {
    font-size: 1.7rem;
    color: black;
    font-family: "Shrikhand", cursive;
    font-weight: bold;
    padding-top: 10px;
}