#tete {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 1vw;
    & h1 {
        height: 7vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 0;
        margin-bottom: 2vw;
        & img {
            height: 7vw;
            width: 40vw;
            object-fit: contain;
            padding-top: 0vw;
            }
        }
    & a {
        position: absolute;
        top: 3vw;
        left: 5vw;
        font-size: 1.1rem;
        color: black;
        opacity: 60%;
        text-decoration: none;
        }
    }