#tete {
    width: 100%;
    height: 13vw;
    position: relative;
    h1 {
        font-size: 1.7rem;
        color: black;
        font-family: "Shrikhand", cursive;
        font-weight: bold;
        padding-top: 1vw;
    }
    & a {
        position: absolute;
        top: 3vw;
        left: 5vw;
        font-size: 1.1rem;
        color: black;
        opacity: 60%;
        text-decoration: none;
        }
    }