#menu-resto {
    display: block;
    width: 44%;
    background-color: $c-grey;
    border-radius: 40px 40px 0 0;
    margin-right: 0;
    padding-top: 40px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 60px;
    position: relative;
    top: 4vw;
}