#menu-resto {
    width: 100%;
    background-color: $c-grey;
    border-radius: 40px 40px 0 0;
    padding-top: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 13vw;
    position: relative;
    top: 0;
}