.palette, .note, .francaise, .delice  {
    @include cadre-menu-m;
    height: 20vw;
    width: 350px;
    & img {
        @include img-menu-m;
        height: 15.3vw;
        width: 350px;
    }
    & h3 {
        @include titre-menu-m;
        bottom: 30px;
        left: 1vw;
    }
    & span {
        @include span-menu-m;
        bottom: 10px;
        left: 1vw;
    }
}