#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    background-color: darken($c-grey, 76.2%);
}
    .img-footer {
        margin-bottom: 10px;
        margin-top: 5px;
        & img {
            height: 5vw;
            width: 200px;
            object-fit: contain;
            margin-left: 2vw;
        }
    }
    .proposer, .partenaire, .legale, .contact {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding-bottom: 10px;
        & i {
            position: fixed;
            left: 2vw;
            font-size: 1rem;
        }
        & span {
            margin-left: 5vw;
            font-size: 1rem;
        }
    }
    .legale, .contact {
        margin-left: 2vw;
    }