#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    background-color: darken($c-grey, 76.2%);
}
h4 {
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 2vw;
    font-size: 1.9rem;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}
.proposer, .partenaire, .legale, .contact {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-bottom: 10px;
    & i {
        position: fixed;
        left: 2vw;
        font-size: 1rem;
    }
    & span {
        margin-left: 5vw;
        font-size: 1rem;
    }
}
.legale, .contact {
    margin-left: 2vw;
}